---
import Image from 'astro/components/Image.astro';
import Logo from '../images/logo.svg';
---

<header>
  <nav>
    <ul>
      <li>CV</li>
    </ul>
  </nav>
</header>

<style>
  header {
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 1001;
    background-color: rgba(255, 255, 255, 0.05);
  }
</style>